*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Saira Extra Condensed', sans-serif;
}

html, body{
	height: 100%;
}

.img-eu-sou img{
	border: 4px solid #000000;
	border-radius: 50%;
}

section.descricao h1{
	color: #343a40;
	font-size: 60px;

}

section.descricao h2{
	color: #343a40;
	font-size: 30px;

}

section.descricao h1 > spam{
	color: #E9967A;

}

section.descricao h2 > spam{
	color: #E9967A;

}

section.descricao h3{
	color: #343a40;
	font-size: 20px;

}